# Assignment

In [49]:
from csv import *
import sqlite3

## Read and Store data into tuple

In [37]:
data = ()

with open('data.txt') as f:
    content = f.readlines()
    for row in content:
        row = row.strip().split('\t')
        data += (tuple(row),)
        
        
print(data)

(('Alan', 'M', '1.67', '51.29'), ('Bob', 'M', '1.80', '61.96'), ('Charles', 'M', '1.76', '69.47'), ('Dave', 'M', '1.73', '64.62'), ('Eddy', 'M', '1.72', '65.51'), ('Faith', 'M', '1.74', '55.97'), ('Ginny', 'M', '1.77', '64.23'), ('Han', 'M', '1.77', '61.95'), ('Ivory', 'M', '1.72', '51.01'))

## Average height and weight

In [67]:
average_height = 0
average_weight = 0

for name, gender, height, weight in data:
    average_height += float(height)
    average_weight += float(weight)
    
# average_height = round((average_height / len(data)), 2)  # round to 2 dp
# average_weight = round((average_weight / len(data)), 2)

average_height /= len(data)
average_weight /= len(data)

print(average_height)
print(average_weight)

1.7422222222222221
60.667777777777786

## Export data into csv

In [52]:
with open('data.csv', 'w', newline='') as f:
    content = writer(f)
    content.writerows(data)

In [53]:
f = open('data.csv')
content = reader(f)

for row in content:
    print(row)

['Alan', 'M', '1.67', '51.29']
['Bob', 'M', '1.80', '61.96']
['Charles', 'M', '1.76', '69.47']
['Dave', 'M', '1.73', '64.62']
['Eddy', 'M', '1.72', '65.51']
['Faith', 'M', '1.74', '55.97']
['Ginny', 'M', '1.77', '64.23']
['Han', 'M', '1.77', '61.95']
['Ivory', 'M', '1.72', '51.01']

## Create table for db

In [61]:
db = sqlite3.connect('data.db')
c = db.cursor()

c.execute('''
    CREATE TABLE Information (
    Name VARCHAR(30),
    Gender CHAR(1),
    Height FLOAT(2),
    Weight FLOAT(2))
    ''')

db.commit()
db.close()

## Insert csv into db

In [62]:
db = sqlite3.connect('data.db')
c = db.cursor()

for ele in data:
    c.execute('''INSERT INTO Information (Name, Gender, Height, Weight)
                VALUES (:Name, :Gender, :Height, :Weight)''', ele)

db.commit()
db.close()

In [64]:
db = sqlite3.connect('data.db')
c = db.cursor()

c.execute('''SELECT * FROM Information''')
info = c.fetchall()
for ele in info:
    print(ele)

('Alan', 'M', 1.67, 51.29)
('Bob', 'M', 1.8, 61.96)
('Charles', 'M', 1.76, 69.47)
('Dave', 'M', 1.73, 64.62)
('Eddy', 'M', 1.72, 65.51)
('Faith', 'M', 1.74, 55.97)
('Ginny', 'M', 1.77, 64.23)
('Han', 'M', 1.77, 61.95)
('Ivory', 'M', 1.72, 51.01)

## SQL to query average height and weight

In [66]:
db = sqlite3.connect('data.db')
c = db.cursor()

c.execute('''SELECT AVG(Height), AVG(Weight) FROM Information''')
info = c.fetchall()
print(info)

[(1.7422222222222221, 60.667777777777786)]